@font-face {
    font-family: "Sarasa UI TC";
    src: url("/assets/fonts/sarasa-ui-tc-regular.ttf");
}

body {
    background-color: #ededed;
    font-family: "Sarasa UI TC";
}

#navbar-btn:hover {
    color: cornflowerblue;
}

/*
 *  ========
 * inside (homepage etc.)
 *  ========
 */

.homepage-container-style {
    width: 100vw;
    /* height: 100vh; */
}


/* .profile-panel-top {
    height: 300px;
}

.profile-panel-buttom {
    height: 180px;
}

.profile-banner {
    background-size: 860px auto;
    background-image: url(image/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    background-color: wheat;
}

.profile-description {
    border-radius: 0px 0px 15px 15px;
    background-color: wheat;
}

.profile-panel-right {
    background-color: thistle;
}

.profile-panel-buttom > .profile-panel-right {
    border-radius: 0px 0px 15px 15px;
} */


.profile-banner {
    background-size: 860px auto;
    background-image: url(/assets/images/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    background-color: wheat;
    height: 300px;

}

.profile-description {
    border-radius: 0px 0px 15px 15px;
    height: 180px;
    padding-left: 240px;
    padding-top: 24px;
}

.profile-panel-right {
    border-radius: 0px 0px 15px 15px;
    height: 480px;
}

.profile-pic {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid gray;

    margin: +260px 0px 0px +40px;
}

.article-banner {
    height: 300px;
    background-size: 860px auto;
    background-image: url(/assets/images/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    border-radius: 15px 15px 0px 0px;
}

.article-panel {
    border-radius: 15px 15px 15px 15px;
    height: 700px;
}

.article-title {
    white-space: nowrap;
}



@media (max-width: 1400px) {
    .profile-panel-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .profile-pic {
        display: inline-block;
        width: 140px;
        height: 140px;
        margin: +260px 0px 0px +30px;
    }
}

@media (max-width: 576px) {
    .profile-pic {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: +260px 0px 0px +20px;
    }
}