@font-face {
    font-family: "Sarasa UI TC";
    src: url("/assets/fonts/sarasa-ui-tc-regular.ttf");
}

body {
    background-color: #ededed;
    font-family: "Sarasa UI TC";
}

/*
 *  ========
 * outside (sign up / sign in)
 *  ========
 */

#navbar-btn:hover {
    color: cornflowerblue;
}

.outside-container-style {
    position: relative;
    top: 50vh;
    transform: translate(-0%, -60%);
    border-radius: 16px;
}

.outside-signup {
    width: 450px;
    height: 500px;
}

.outside-signin {
    width: 450px;
    height: 400px;
}

.outside-btn-style {
    border-radius: 18px;
}

.outside-a-style {
    text-decoration: none;
}

.navbar-style {
    background-color: #ffffff;
}

@media (max-width: 750px),
(max-height: 700px) {
    .outside-navbar-style {
        display: none;
    }
}

@media (max-width: 750px),
(max-width: 550px) and (max-height: 750px) {
    .outside-container-style {
        width: 100vw;
        height: 100vh;
        top: 0vh;
        transform: translate(-0%, -0%);
        border-radius: 0px;
    }
}