@font-face {
    font-family: "Sarasa UI TC";
    src: url("font/sarasa-ui-tc-regular.ttf");
}

body {
    background-color: #ededed;
    font-family: "Sarasa UI TC";
}

#navbar-btn:hover {
    color: cornflowerblue;
}
.container-style {
    position: relative;
    top: 50vh;
    transform: translate(-0%, -50%);
    border-radius: 16px;
    /* font-size: 32px; */
}

.btn-style {
    border-radius: 18px;
}

.a-style {
    text-decoration: none;
}