@font-face {
    font-family: "Sarasa UI TC";
    src: url("font/sarasa-ui-tc-regular.ttf");
}

body {
    background-color: #ededed;
    font-family: "Sarasa UI TC";
}

/*
 *  ========
 * outsite (sign up / sign in)
 *  ========
 */

#navbar-btn:hover {
    color: cornflowerblue;
}

.outsite-container-style {
    position: relative;
    top: 50vh;
    transform: translate(-0%, -60%);
    border-radius: 16px;
}

.outsite-signup {
    width: 450px;
    height: 500px;
}

.outsite-signin {
    width: 450px;
    height: 400px;
}

.outsite-btn-style {
    border-radius: 18px;
}

.outsite-a-style {
    text-decoration: none;
}

.navbar-style {
    background-color: #ffffff;
}

/*
 *  ========
 * insite (homepage etc.)
 *  ========
 */

.homepage-container-style {
    width: 100vw;
    /* height: 100vh; */
}


/* .profile-panel-top {
    height: 300px;
}

.profile-panel-buttom {
    height: 180px;
}

.profile-banner {
    background-size: 860px auto;
    background-image: url(image/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    background-color: wheat;
}

.profile-description {
    border-radius: 0px 0px 15px 15px;
    background-color: wheat;
}

.profile-panel-right {
    background-color: thistle;
}

.profile-panel-buttom > .profile-panel-right {
    border-radius: 0px 0px 15px 15px;
} */


.profile-banner {
        background-size: 860px auto;
    background-image: url(image/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    background-color: wheat;
    height: 300px;

}

.profile-description {
    border-radius: 0px 0px 15px 15px;
    height: 180px;
    padding-left: 240px;
    padding-top: 24px;
}

.profile-panel-right {
    border-radius: 0px 0px 15px 15px;
    height: 480px;
}

.profile-pic {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid gray;

    margin: +260px 0px 0px +40px;
}

.article-banner {
    height: 300px;
    background-size: 860px auto;
    background-image: url(image/banner-corp.jpg);
    background-position: center calc(50% + 16px);
    border-radius: 15px 15px 0px 0px;
}

.article-panel {
    border-radius: 15px 15px 15px 15px;
    height: 700px;
}

.article-title {
    white-space: nowrap;
}

@media (max-width: 750px),
(max-height: 700px) {
    .outsite-navbar-style {
        display: none;
    }
}

@media (max-width: 750px),
(max-width: 550px) and (max-height: 750px) {
    .outsite-container-style {
        width: 100vw;
        height: 100vh;
        top: 0vh;
        transform: translate(-0%, -0%);
        border-radius: 0px;
    }
}

@media (max-width: 1400px) {
    .profile-panel-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .profile-pic {
        display: inline-block;
        width: 140px;
        height: 140px;
        margin: +260px 0px 0px +30px;
    }
}

@media (max-width: 576px) {
    .profile-pic {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: +260px 0px 0px +20px;
    }
}